<div class="relative overflow-hidden main-container">
    <div class="flex justify-between divide-section">
        <div class="relative left-section">
            <div class="font-montserrat-medium main-heading" i18n>We make it Super Simple</div>
            <div class="divider"></div>
            <div class="relative">
            <img class="main-img" src="assets/images/collect_img-video.png" alt="main-img">
            <img class="dots-img" src="assets/images/accounting_dots.svg" alt="dots-img">
            </div>
        </div>
        <app-eligibility-calculator class="pad-responsive"></app-eligibility-calculator>
    </div>
    <div class="circle">
        <img src="assets/images/circle.svg" alt="circle">
    </div>
    <div class="blob-small">
        <img src="assets/images/blob-small.svg" alt="blob">
    </div>
</div>


