.sel-value {
    font-size: 1.5em;
}

.title {
    color: var(--font-light-color);
}

.show-range {
    color: #999999;
}

.custom-slider {
    opacity: 0.7;
}

:host  ::ng-deep .mat-slider-horizontal .mat-slider-wrapper {
    background-color: #e7daff;
    left: 0;
    right: 0;
}

:host  ::ng-deep .mat-slider-horizontal .mat-slider-wrapper,:host  ::ng-deep  .mat-slider-horizontal .mat-slider-track-fill,:host  ::ng-deep  .mat-slider-horizontal .mat-slider-track-wrapper,:host  ::ng-deep  .mat-slider-horizontal .mat-slider-track-background,:host  ::ng-deep  .mat-slider-horizontal .mat-slider-ticks-container,:host  ::ng-deep  .mat-slider-horizontal .mat-slider-ticks {
    height: 5px;
    border-radius: 5px;
}

:host ::ng-deep .mat-slider-thumb {
    box-shadow: 0 0 0 9px #fff, 0 0 5px 8px #222;
    transform: scale(0.5);
    
}

:host ::ng-deep .mat-slider:not(.mat-slider-disabled).cdk-mouse-focused .mat-slider-thumb, .mat-slider:not(.mat-slider-disabled).cdk-touch-focused .mat-slider-thumb, .mat-slider:not(.mat-slider-disabled).cdk-program-focused .mat-slider-thumb {
    transform: scale(0.5) !important;
    box-shadow: 0 0 0 9px #fff, 0 0 5px 8px #222;
} 

:host ::ng-deep .mat-slider-min-value .mat-slider-thumb {
    background-color: var(--purple);
}